{% load static %}
<!-- ===== NAVBAR ===== -->
<nav class="navbar" id="navbar">
    <div class="nav-container">
      <a href="{% url 'home' %}" class="nav-logo">
        <div class="omnitrix-mini"></div>
        <span class="logo-text">BEN <span class="logo-num">10</span></span>
      </a>
      {% if user.is_authenticated or request.path != '/' %}
      <ul class="nav-links" id="navLinks">
        <li><a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">Inicio</a></li>
        <li><a href="{% url 'coleccion' %}" class="nav-link {% if 'coleccion' in request.path %}active{% endif %}">Colección</a></li>
        <li><a href="{% url 'wishlist' %}" class="nav-link {% if 'wishlist' in request.path %}active{% endif %}">Wishlist</a></li>
        {% if user.is_authenticated and user.is_staff or user.username|lower == 'gaffel' %}
        <li><a href="{% url 'base_de_datos' %}" class="nav-link {% if 'base-de-datos' in request.path or 'base_de_datos' in request.path %}active{% endif %}">Base de Datos</a></li>
        {% endif %}
        <li><a href="{% url 'bodega' %}" class="nav-link {% if 'bodega' in request.path %}active{% endif %}">Bodega</a></li>
        <li><a href="{% url 'dashboard' %}" class="nav-link {% if 'dashboard' in request.path %}active{% endif %}">Panel</a></li>
      </ul>
      {% endif %}
      {% if user.is_authenticated %}
      <div style="display: flex; align-items: center; gap: 10px;">
        <button class="nav-profile-btn" id="openProfileBtn">
          <img src="{{ perfil.avatar_url }}" class="nav-profile-avatar-img" alt="Avatar">
          <span class="nav-profile-name">{{ request.user.username }}</span>
        </button>
        <a href="{% url 'logout' %}" class="nav-logout-btn" title="Cerrar Sesión" id="logoutBtn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line>
          </svg>
        </a>
      </div>
      {% else %}
      <div style="display: flex; align-items: center; gap: 10px;">
        <a href="{% url 'login' %}" class="btn-secondary" style="padding: 6px 14px; font-size: 0.8rem; text-decoration: none; border-radius: 6px;">Iniciar Sesión</a>
        <a href="{% url 'registro' %}" class="btn-primary" style="padding: 6px 14px; font-size: 0.8rem; text-decoration: none; border-radius: 6px;">Registrarse</a>
      </div>
      {% endif %}
      <button class="hamburger" id="hamburger" aria-label="Menú">
        <span></span><span></span><span></span>
      </button>
    </div>
  </nav>
  <script src="{% static 'js/omni-confirm.js' %}"></script>
